        <div id='wikititle'>
          <div class='pagegroup'><a href='http://вики-ч115.программирование-по-русски.рф/%d0%a7115'>Ч115</a> /</div>
          <h1 class='pagetitle'>КакНайтиВИсходномТекстеМестоОшибкиСКрасногоЭкрана-TrapFindPcFindPC</h1></div>
<!--PageText-->
<div id='wikitext'>
<p>Денис Будяк, [02.08.19 11:08]
Как работает find pc? Linux64 свежачок, пытаюсь запустить Xref
</p>
<p class='vspace'>Ярослав, [02.08.19 12:04]
[In reply to Денис Будяк]
Работает 😊
В окошке TRAPS мышкой выделить имя модуля, процедуры и позицию. M.P:Position
Потом нажать кнопку Find PC в PET с этим открытым молулем
</p>
<p class='vspace'>==================
</p>
<p class='vspace'>В моём форке (jaos/модернизация-TFXRef) теперь после выделения нажимаем Alt-F7 и открывается TFPET, и в нём отмечается место ошибки. 
После этого, нужно ещё нажать на надпись "pc position" - само почему-то не переходит на это место.
</p>
</div>
