<!--PageTitleFmt-->
        <div id='wikititle'>
          <div class='pagegroup'><a href='http://вики-ч115.программирование-по-русски.рф/%d0%a7115'>Ч115</a> /</div>
          <h1 class='pagetitle'>КомпиляторFox</h1></div>
<!--PageText-->
<div id='wikitext'>
<h3>Модуль фронтенда</h3>

<div class='sourceblock ' id='sourceblock1'>
  <div class='sourceblocktext'><div class="c">Compiler.<span class="me1">Mod</span> <span class="sy0">/</span> GetOptions<br />
&nbsp;Frontend.<span class="me1">Mod</span> <span class="sy0">/</span> GetFrontendByName<span class="br0">&#40;</span><span class="st0">&quot;Oberon&quot;</span><span class="br0">&#41;</span><br />
&nbsp; FoxOberonFrontend.<span class="me1">Mod</span> <span class="sy0">/</span> Frontend.<span class="me1">Initialize</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Parse</div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%9a%d0%be%d0%bc%d0%bf%d0%b8%d0%bb%d1%8f%d1%82%d0%be%d1%80Fox?action=sourceblock&amp;num=1' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<div class='vspace'></div><h3>Что-то про символьные файлы и порядок инициализации</h3>
<pre class='escaped'>
Compiler.Modules
 FoxBackend.Initialize
 (* Неясно с чего, но мы верим, что используется FoxTextualSymbolFile, впрочем, нам не это важно *)
 FoxTextualSymbolFile.Initialize (?) 
 FoxFormats (* могут иметь отношение к симв. файлу *)

  (** generate symbol file **)
  IF (options.symbolFile # NIL) &amp; ~options.symbolFile.Export(module, importCache) =&gt; 
   (* Как-то так *)
   FoxTextualSymbolFile.TextualSymbolFile.Export(module:SyntaxTree.Module; importCache: SyntaxTree.ModuleScope) 
   Ищем ModuleScope (хотим в него подсунуть константу) - он растёт от просто FoxSyntaxTree.Scope (искать «Scope=*OBJECT»)
    PROCEDURE AddConstant - добавляем константу (типа Constant)

</pre>
</div>
