        <div id='wikititle'>
          <div class='pagegroup'><a href='http://вики-ч115.программирование-по-русски.рф/%d0%a7115'>Ч115</a> /</div>
          <h1 class='pagetitle'>ОбработкаTRAP-ов</h1></div>
<!--PageText-->
<div id='wikitext'>
<p>Цель статьи - изучить TRAPы, чтобы уметь использовать их в программировании. Например, в среде разработки, если текст некорректен, использовать TRAP для сообщения
об этом. 
</p>
<div class='vspace'></div><h2>Элементы кода</h2>
<p>Платформа.Traps.Mod - модуль Traps, платформо-зависимый.
</p>
<div class='vspace'></div><ul><li>Traps.Show - показать исключение
</li><li>Traps.GetLastExceptionState - ?
</li><li>Traps..Exception - обработчик исключения (не экспортирован)
</li><li>Machine.InstallHandler - установить обработчик исключения (например, Traps..Exception)
</li><li>TrapWriters.TrapWriter - видимо, это объект, который печатает трапы в разные места, там можно и отключить вывод трапов. 
</li><li>TrapWriters.WriterFactory = PROCEDURE (): Streams.Writer;
</li><li>TrapWriters.InstallTrapWriterFactory - печатать трапы ещё и в указанное место. Но есть и
</li><li>TrapWriters.UninstallTrapWriterFactory
</li></ul><div class='vspace'></div><h2>Objects.halt и Objects.haltUnbreakable</h2>
<p>Я так примерно понял, что haltUnbreakable более жёстко убивает процесс. Его можно увидеть в ГПИ в инструменте Inspect/Objects. 
В обоих случаях пытаемся выполнить FINALLY, но в haltUnbreakable их тоже выполняем как-то более агрессивно. 
</p>
<div class='vspace'></div><h2>Откуда берётся красный экран?</h2>
<p>Он настроен в Configuration.XML
</p>
<div class='sourceblock ' id='sourceblock1'>
  <div class='sourceblocktext'><div class="pascal">&nbsp;<br />
&nbsp; &nbsp; &nbsp; &nbsp; &lt;Section <span class="kw1">name</span><span class="sy3">=</span>&quot;Autostart&quot;&gt;<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;Setting <span class="kw1">name</span><span class="sy3">=</span>&quot;FileTrapWriter&quot; value<span class="sy3">=</span>&quot;FileTrapWriter<span class="sy1">.</span><span class="me1">Install</span>&quot;<span class="sy3">/</span>&gt;<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;Setting <span class="kw1">name</span><span class="sy3">=</span>&quot;TrapWriter&quot; value<span class="sy3">=</span>&quot;WMTrapWriter<span class="sy1">.</span><span class="me1">Install</span>&quot;<span class="sy3">/</span>&gt;</div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%9e%d0%b1%d1%80%d0%b0%d0%b1%d0%be%d1%82%d0%ba%d0%b0TRAP-%d0%be%d0%b2?action=sourceblock&amp;num=1' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<p class='vspace'>FileTrapWriter.Install делает так, что для каждого трапа создаётся файл Trap_....txt в рабочей директори (напр., WinAOS)
WMTrapWriter показывает красный экран. 
</p>
<p class='vspace'>Соответственно, выполнение 
</p>
<div class='sourceblock ' id='sourceblock2'>
  <div class='sourceblocktext'><div class="pascal">&nbsp;<br />
WMTrapWriter<span class="sy1">.</span><span class="me1">Uninstall</span></div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%9e%d0%b1%d1%80%d0%b0%d0%b1%d0%be%d1%82%d0%ba%d0%b0TRAP-%d0%be%d0%b2?action=sourceblock&amp;num=2' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<p>полностью отключает красный экран.
</p>
<div class='vspace'></div><h2>Идеи</h2>
<p>Иногда может захотеться «молчаливое исключение», которое обрабатывается, но не показывается. Решение - в ветке silent-trap-7777, общая идея - в том, что для выбранного кода исключения 7777 никакое отображение не происходит. 
</p>
<div class='vspace'></div>
<div class='sourceblock ' id='sourceblock3'>
  <div class='sourceblocktext'><div class="pascal">diff <span class="sy3">--</span>git &quot;a<span class="sy3">/</span>C<span class="sy1">:</span>\\Users\\ASUS\\AppData\\Local\\Temp\\TortoiseGit\\Win32<span class="sy1">.</span><span class="me1">Traps</span><span class="sy3">-</span>bc673e6<span class="sy1">.</span>000<span class="sy1">.</span><span class="me1">Mod</span>&quot; &quot;b<span class="sy3">/</span>C<span class="sy1">:</span>\\Users\\ASUS\\AppData\\Local\\Temp\\TortoiseGit\\Win32<span class="sy1">.</span><span class="me1">Traps</span><span class="sy3">-</span>b6e7f36<span class="sy1">.</span>000<span class="sy1">.</span><span class="me1">Mod</span>&quot;<br />
<span class="kw1">index</span> f1dd4ceb8f<span class="sy1">..</span><span class="me1">e0db336ed7</span> <span class="nu0">100644</span><br />
<span class="sy3">---</span> &quot;a<span class="sy3">/</span>C<span class="sy1">:</span>\\Users\\ASUS\\AppData\\Local\\Temp\\TortoiseGit\\Win32<span class="sy1">.</span><span class="me1">Traps</span><span class="sy3">-</span>bc673e6<span class="sy1">.</span>000<span class="sy1">.</span><span class="me1">Mod</span>&quot;<br />
<span class="sy3">+++</span> &quot;b<span class="sy3">/</span>C<span class="sy1">:</span>\\Users\\ASUS\\AppData\\Local\\Temp\\TortoiseGit\\Win32<span class="sy1">.</span><span class="me1">Traps</span><span class="sy3">-</span>b6e7f36<span class="sy1">.</span>000<span class="sy1">.</span><span class="me1">Mod</span>&quot;<br />
<span class="sy2">@@</span> <span class="sy3">-</span><span class="nu0">339</span><span class="sy1">,</span><span class="nu0">7</span> <span class="sy3">+</span><span class="nu0">339</span><span class="sy1">,</span><span class="nu0">9</span> <span class="sy2">@@</span> <span class="kw1">VAR</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="sy3">*</span><span class="br0">&#41;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; traceTrap <span class="sy1">:</span><span class="sy3">=</span> <span class="kw2">FALSE</span><span class="sy1">;</span><br />
<br />
<span class="sy3">-</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Show<span class="br0">&#40;</span> t<span class="sy1">,</span> int<span class="sy1">,</span> exc<span class="sy1">,</span> &nbsp;<span class="coMULTI">(* exc.halt # MAX(INTEGER)+1*)</span> <span class="kw2">TRUE</span> <span class="br0">&#41;</span><span class="sy1">;</span> &nbsp; <span class="coMULTI">(* Always show the trap info!*)</span><br />
<span class="sy3">+</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="kw1">IF</span> exchalt # <span class="nu0">7777</span><span class="coMULTI">(*Invisible trap*)</span> <span class="kw1">THEN</span><br />
<span class="sy3">+</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Show<span class="br0">&#40;</span> t<span class="sy1">,</span> int<span class="sy1">,</span> exc<span class="sy1">,</span> &nbsp;<span class="coMULTI">(* exc.halt # MAX(INTEGER)+1*)</span> <span class="kw2">TRUE</span> <span class="br0">&#41;</span><span class="sy1">;</span> &nbsp; <span class="coMULTI">(* Always show the trap info!*)</span><br />
<span class="sy3">+</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="kw1">END</span><span class="sy1">;</span><br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="kw1">IF</span> exchalt <span class="sy3">=</span> haltUnbreakable <span class="kw1">THEN</span> Unbreakable<span class="br0">&#40;</span> t<span class="sy1">,</span> int<span class="sy1">,</span> exc<span class="sy1">,</span> handled <span class="br0">&#41;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ELSIF ~traceTrap <span class="kw1">THEN</span> HandleException<span class="br0">&#40;</span> int<span class="sy1">,</span> exc<span class="sy1">,</span> handled <span class="br0">&#41;</span></div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%9e%d0%b1%d1%80%d0%b0%d0%b1%d0%be%d1%82%d0%ba%d0%b0TRAP-%d0%be%d0%b2?action=sourceblock&amp;num=3' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<p class='vspace'>См. также <a class='urllink' href='https://forum.oberoncore.ru/viewtopic.php?f=22&amp;t=6468' rel='nofollow'>https://forum.oberoncore.ru/viewtopic.php?f=22&amp;t=6468</a>
</p>
</div>
