        <div id='wikititle'>
          <div class='pagegroup'><a href='http://вики-ч115.программирование-по-русски.рф/%d0%a7115'>Ч115</a> /</div>
          <h1 class='pagetitle'>Рефлексия</h1></div>
<!--PageText-->
<div id='wikitext'>
<p>Речь идёт о новом формате объектных файлов (сейчас смотрим яос0 от 2019-12-28)
</p>
<p class='vspace'>Соответствующий код находится в модуле Reflection, в файле Generic.Reflection.Mod
</p>
<p class='vspace'>Reflection.ReportModule и пр. нужны для вывода структуры модуля. 
</p>
<p class='vspace'>Reflection.WriteVariables и пр. - для вывода состояния модуля.
</p>
<div class='vspace'></div>
<div class='sourceblock ' id='sourceblock1'>
  <div class='sourceblocktext'><div class="pascal">MODULE Proba<span class="sy1">;</span> IMPORT Commands<span class="sy1">,</span> Modules<span class="sy1">,</span> Reflection2<span class="sy1">,</span> Streams<span class="sy1">;</span><br />
<br />
<span class="kw1">TYPE</span> myRecordType <span class="sy3">=</span> <span class="kw4">RECORD</span> stringField <span class="sy1">:</span> <span class="kw4">ARRAY</span> <span class="nu0">128</span> <span class="kw1">OF</span> <span class="kw4">CHAR</span><span class="sy1">;</span> integerField <span class="sy1">:</span> <span class="kw4">INTEGER</span> <span class="kw1">END</span><span class="sy1">;</span><br />
<br />
<span class="kw1">VAR</span> m<span class="sy1">:</span> Modules<span class="sy1">.</span><span class="me1">Module</span><span class="sy1">;</span><br />
<span class="kw1">VAR</span> glob <span class="sy1">:</span> <span class="kw4">INTEGER</span><span class="sy1">;</span><br />
<span class="kw1">VAR</span> myRecordVar <span class="sy1">:</span> myRecordType<span class="sy1">;</span> <br />
<br />
<span class="kw1">PROCEDURE</span> z<span class="sy3">*</span><span class="br0">&#40;</span>context <span class="sy1">:</span> Commands<span class="sy1">.</span><span class="me1">Context</span><span class="br0">&#41;</span><span class="sy1">;</span><br />
<span class="kw1">VAR</span> res <span class="sy1">:</span> <span class="kw4">LONGINT</span><span class="sy1">;</span> msg <span class="sy1">:</span> <span class="kw4">ARRAY</span> <span class="nu0">4096</span> <span class="kw1">OF</span> <span class="kw4">CHAR</span><span class="sy1">;</span> o <span class="sy1">:</span> Streams<span class="sy1">.</span><span class="me1">Writer</span><span class="sy1">;</span> <br />
<span class="kw1">BEGIN</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; myRecordVar<span class="sy1">.</span><span class="me1">integerField</span> <span class="sy1">:</span><span class="sy3">=</span> <span class="nu0">1</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; myRecordVar<span class="sy1">.</span><span class="me1">stringField</span> <span class="sy1">:</span><span class="sy3">=</span> &quot;ABCDEF&quot;<span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; INC<span class="br0">&#40;</span>glob<span class="br0">&#41;</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; o <span class="sy1">:</span><span class="sy3">=</span> context<span class="sy1">.</span><span class="me1">out</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; o<span class="sy1">.</span><span class="kw4">String</span><span class="br0">&#40;</span>&quot;Loading the module&quot;<span class="br0">&#41;</span><span class="sy1">;</span> o<span class="sy1">.</span><span class="kw3">Ln</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; m <span class="sy1">:</span><span class="sy3">=</span> Modules<span class="sy1">.</span><span class="me1">ThisModule</span><span class="br0">&#40;</span>&quot;Proba&quot;<span class="sy1">,</span> res<span class="sy1">,</span> msg<span class="br0">&#41;</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; <span class="kw1">IF</span> <span class="br0">&#40;</span>m <span class="sy3">=</span> <span class="kw2">NIL</span><span class="br0">&#41;</span> <span class="kw1">OR</span> <span class="br0">&#40;</span>res # <span class="nu0">0</span><span class="br0">&#41;</span> <span class="kw1">THEN</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; o<span class="sy1">.</span><span class="kw4">String</span><span class="br0">&#40;</span>&quot;z<span class="sy1">:</span> Failed <span class="kw1">to</span> load module<span class="sy1">:</span>&quot;<span class="br0">&#41;</span><span class="sy1">;</span> o<span class="sy1">.</span><span class="kw4">String</span><span class="br0">&#40;</span>msg<span class="br0">&#41;</span><span class="sy1">;</span> o<span class="sy1">.</span><span class="kw3">Ln</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; RETURN <span class="kw1">END</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; o<span class="sy1">.</span><span class="kw4">String</span><span class="br0">&#40;</span>&quot;<span class="sy3">=========</span> Reflection<span class="sy1">.</span><span class="me1">Report</span> <span class="sy3">===========</span>&quot;<span class="br0">&#41;</span><span class="sy1">;</span> o<span class="sy1">.</span><span class="kw3">Ln</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; Reflection2<span class="sy1">.</span><span class="me1">Report</span><span class="br0">&#40;</span>o<span class="sy1">,</span> m<span class="sy1">.</span><span class="me1">refs</span><span class="sy1">,</span> <span class="nu0">0</span><span class="br0">&#41;</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; o<span class="sy1">.</span><span class="kw4">String</span><span class="br0">&#40;</span>&quot;<span class="sy3">=========</span> Reflection<span class="sy1">.</span><span class="me1">ModuleState</span> <span class="sy3">=======</span>&quot;<span class="br0">&#41;</span><span class="sy1">;</span> o<span class="sy1">.</span><span class="kw3">Ln</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; Reflection2<span class="sy1">.</span><span class="me1">ModuleState</span><span class="br0">&#40;</span>o<span class="sy1">,</span> m<span class="br0">&#41;</span><span class="sy1">;</span><br />
&nbsp; &nbsp; &nbsp; &nbsp; o<span class="sy1">.</span><span class="kw4">String</span><span class="br0">&#40;</span>&quot;<span class="sy3">=========</span> Done <span class="sy3">====================</span>&quot;<span class="br0">&#41;</span><span class="sy1">;</span> o<span class="sy1">.</span><span class="kw3">Ln</span><span class="sy1">;</span>&nbsp; <br />
&nbsp; &nbsp; &nbsp; &nbsp; <span class="kw1">END</span> z<span class="sy1">;</span><br />
<br />
<span class="kw1">END</span> Proba<span class="sy1">.</span><span class="me1">z</span>~</div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%a0%d0%b5%d1%84%d0%bb%d0%b5%d0%ba%d1%81%d0%b8%d1%8f?action=sourceblock&amp;num=1' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<p>Получается вот что:
</p>
<div class='sourceblock ' id='sourceblock2'>
  <div class='sourceblocktext'><div>Loading the module<br/>========= Reflection.Report ===========<br/>MODULE Proba12: Scope<br/>12:VAR m[@06A2BB70]:POINTER TO RECORD<br/>25:VAR glob[@06A2BB74]:INTEGER<br/>41:VAR myRecordVar[@06A2BB78]:RECORD 06A2BCA0<br/>68:PROCEDURE @Body[@06A2B8F0 - 06A2B906](<br/>):no type<br/>93: Scope<br/>END<br/>94:PROCEDURE z[@06A2B906 - 06A2BB23](<br/>113:VAR context[@12]:POINTER TO RECORD<br/>):no type<br/>134: Scope<br/>134:VAR res[@-4]:LONGINT<br/>149:VAR msg[@-4100]:ARRAY 4096 OF CHAR<br/>169:VAR o[@-4104]:POINTER TO RECORD<br/>END<br/>183:TYPE myRecordType 06A2BCA0<br/>206: Scope<br/>206:VAR stringField[@0]:ARRAY 128 OF CHAR<br/>234:VAR integerField[@128]:INTEGER<br/>END<br/>END<br/>========= Reflection.ModuleState =======<br/>State Proba:<br/>  m=06A2BD48 (Modules.Module)<br/>  glob=2<br/>  myRecordVar=...(Proba.myRecordType)<br/></div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%a0%d0%b5%d1%84%d0%bb%d0%b5%d0%ba%d1%81%d0%b8%d1%8f?action=sourceblock&amp;num=2' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

<p class='vspace'>Формат Refs-ов, как он описан в исходнике:
</p>
<div class='sourceblock ' id='sourceblock3'>
  <div class='sourceblocktext'><div>		References section format: <br/>		Scope = sfScopeBegin {variable:Variable} {procedure:Procedure} {typeDecl:TypeDeclaration} sfScopeEnd.<br/>		Module = sfModule prevSymbolOffset:SIZE name:String Scope.<br/>		Procedure = sfProcedure prevSymbolOffset:SIZE name:String start:ADR end:ADR flags:SET {parameter:Variable} returnType:Type Scope.<br/>		Variable = sfVariable prevSymbolOffset:SIZE name:String (sfRelative offset: SIZE | sfIndirec offset: SIZE | sfAbsolute address:ADDRESS) type:Type.<br/>		TypeDeclaration = sfTypeDeclaration prevSymbolOffset:SIZE name:String typeInfo:ADR Scope.<br/>		Type = <br/>			sfTypePointerToRecord <br/>			| sfTypePointerToArray Type<br/>			| sfTypeOpenArray Type<br/>			| sfTypeDynamicArray Type<br/>			| sfTypeStaticArray length:SIZE Type<br/>			| sfTypeMathOpenArray Type <br/>			| sfTypeMathStaticArray length:SIZE Type<br/>			| sfTypeMathTensor Type<br/>			| sfTypeRecord tdAdr:ADDRESS <br/>			| sfTypeDelegate {Parameter} return:Type<br/>			| sfTypePort (sfIN | sfOUT)<br/>			| sfTypeBOOLEAN<br/>			| sfTypeCHAR | sfTypeCHAR8 | sfTypeCHAR16 | sfTypeCHAR32<br/>			| sfTypeSHORTINT | sfTypeINTEGER | sfTypeLONGINT | sfTypeHUGEINT<br/>			| sfTypeSIGNED8 | sfTypeSIGNED16 | sfTypeSIGNED32 | sfTypeSIGNED64<br/>			| sfTypeUNSIGNED8 | sfTypeUNSIGNED16 | sfTypeUNSIGNED32 | sfTypeUNSIGNED64<br/>			| sfTypeWORD | sfTypeLONGWORD<br/>			| sfTypeREAL | sfTypeLONGREAL<br/>			| sfTypeCOMPLEX | sfTypeLONGCOMPLEX<br/>			| sfTypeSET | sfTypeANY | sfTypeOBJECT | sfTypeBYTE | sfTypeADDRESS | sfTypeSIZE<br/>			| sfTypeIndirect offset:SIZE.<br/></div></div>
  <div class='sourceblocklink'><a href='http://%d0%b2%d0%b8%d0%ba%d0%b8-%d1%87115.%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d0%b8%d1%80%d0%be%d0%b2%d0%b0%d0%bd%d0%b8%d0%b5-%d0%bf%d0%be-%d1%80%d1%83%d1%81%d1%81%d0%ba%d0%b8.%d1%80%d1%84/%d0%a7115/%d0%a0%d0%b5%d1%84%d0%bb%d0%b5%d0%ba%d1%81%d0%b8%d1%8f?action=sourceblock&amp;num=3' type='text/plain'>[&#036;[Get Code]]</a></div>
</div>

</div>
